---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Perfil from '/src/imagenes/perfil.jpeg';
---

<Layout title="Kevin Leal | Página Oficial" description='Blog y CV del ing. kevin leal' working={true}>
	<main class="m-10">
		<div id="cv" class="justify-items-center justify-center items-center bg-white">
			<Image src={Perfil} alt="Mi foto de perfil" class="rounded-full" />
			<h1 class="text-white">Ing. en desarrollo de software, Kevin Alejandro Leal Torres</h1>
		</div>
	</main>
</Layout>