---
import Header from '../components/Header.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Header></Header>

<main>
	<div id="who" class="text-white h-dvh text-right flex justify-center items-center">

		<figure>
			<img width="500px" src="https://th.bing.com/th/id/R.4d0017ceb7ecda46d7c24acf41339dae?rik=cVzeNR6rXDXsvg&riu=http%3a%2f%2fwww.weby-design.com%2fwp-content%2fuploads%2f2020%2f10%2fsoftware-engineer-career-2048x1368.jpg&ehk=Qotz5DxfK%2fyA%2bZumtDVqfyf6eT5tce%2f4gzz%2bZ6AA3Qk%3d&risl=&pid=ImgRaw&r=0" alt="testing">
		</figure>

		<h2 class="text-3xl">
			Who am I?
		</h2>
	
		<ul>
			<li>
				I'm student in software engineer
			</li>
			<li>
				I'm developer in C/C++, Java, Python
			</li>
			<li>
				I'm linux user
			</li>
		</ul>


	</div>

	<figure>
		<img class="h-1/2" src="../../public/assets/testing_cat.jpeg" alt="gato testing">
	</figure>
</main>

<style>
	body {
		background-color: #282828;
	}
</style>