---
import Card from "./Card.astro";


---
<div id="certificados">
    <h2 class="cv-subtitle">Certificados:</h2>
    <ul>
        <Card icono="certificado" titulo="Curso básico de Python" instituto="Platzi" periodo="2022" />
        <Card icono="certificado" titulo="Curso de Java SE Orientado a Objetos" instituto="Platzi" periodo="2022" />
    </ul>
</div>