---
import Card from "./Card.astro";
---

<div id="certificaciones">
    <h2 class="cv-subtitle">Certificaciones:</h2>
    <ul>
        <Card icono="certificacion" titulo="Herramientas en Java" instituto="Universidad TecMilenio" periodo="2024" />
        <Card icono="certificacion" titulo="Big Data" instituto="Universidad TecMilenio" periodo="2023" />
        <Card icono="certificacion" titulo="Ingeniería en requerimientos" instituto="Universidad TecMilenio" periodo="2023" />

    </ul>
</div>