---
import Card from "./Card.astro";


---
<div id="educacion">
    <h2 class="cv-subtitle">Educación:</h2>
    <Card icono="educacion" titulo="Ingeniería en desarrollo de software (séptimo semestre)" instituto="Universidad TecMilenio" periodo="2020 - 2025" />
</div>