---

---
<div id="habilidades" class="justify-items-center text-center p-2">
    <h2 class="text-base">Habilidades:</h2>
    <ul class="max-md:grid max-md:grid-cols-2 max-md:text-xs">
        <li>Inglés</li>
        <li>Adptación</li>
        <li>Python</li>
        <li>Java</li>
        <li>C#</li>
        <li>SQL</li>
        <li>Linux</li>
        <li>TypeScript</li>
    </ul>
</div>