---
//JS
---
<header class="flex p-5 fixed text-white w-full">
    <a href="/" class="text-4xl font-serif">Kevin's Portfolio</h1>

    <nav class="font-serif text-2xl">
        <a class="hover:bg-teal-700 rounded-lg p-2 m-2 transition duration-300" href="/about">About</a>
        <a class="hover:bg-red-700 rounded-lg p-2 m-2 transition duration-300" href="/projects">Projects</a>
        <a class="hover:bg-orange-700 rounded-lg p-2 m-2 transition duration-300" href="/agenda">Agenda</a>
    </nav>
</header>

<style>
    header {
        background-color: #282828;
    }
</style>